footer
	.container
		ul.list-inline
			li.list-inline-item.
				Copyright &copy; #{new Date().getFullYear()} Bennett D. Zhang

			li.list-inline-item
				a(href="https://www.cs.cmu.edu/" target="_blank") School of Computer Science

			li.list-inline-item
				a(href="https://www.cmu.edu/" target="_blank") Carnegie Mellon University
