<footer>
	<div class="container">
		<ul class="list-inline">
			<li class="list-inline-item">
				Copyright &copy;
				<%= new Date().getFullYear() %>
				Bennett D. Zhang
			</li>
			<li class="list-inline-item">
				<a href="https://www.cs.cmu.edu/">School of Computer Science</a>
			</li>
			<li class="list-inline-item">
				<a href="https://www.cmu.edu/">Carnegie Mellon University</a>
			</li>
		</ul>
	</div>
</footer>
