footer
	.container
		ul.list-inline
			li.list-inline-item.
				Copyright &copy;
				#{new Date().getFullYear()}
				Bennett D. Zhang

			li.list-inline-item
				a(href="https://www.cs.cmu.edu/") School of Computer Science

			li.list-inline-item
				a(href="https://www.cmu.edu/") Carnegie Mellon University
