// Fonts
$font-family-sans-serif: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-weight: bold;

// Color system
$white: #fff;
$black: #000;
$blue: #1992c6;

// Body
$body-bg: $white;

// Selection
$selection-bg: transparentize($blue, 0.5);

// Wrapper
$wrapper-bg: transparentize($white, 0.2);
$wrapper-triangle-height: 70px;
$wrapper-sm-triangle-height: 90px;
$wrapper-md-triangle-height: 110px;
$wrapper-lg-triangle-height: 130px;
$wrapper-xl-triangle-height: 150px;

// Spacing
$grid-gutter-height: 30px;
$divider-width: 2px;
$divider-color: transparentize($black, 0.875);

// Navbars
$navbar-bg: $wrapper-bg;
$navbar-blur-amount: 10px;

// List groups
$list-group-bg: $wrapper-bg;

// Cards
$card-bg: $wrapper-bg;

// Footer
$footer-bg: $wrapper-bg;
$footer-gutter-width: 26px;
$footer-gutter-height: 12px;

// Reveal
$reveal-animation-name: fadeIn;

// Cover
$cover-animation-duration: 5s;
$cover-animation-steps: 25;

// Portrait
$portrait-width: 200px;
$portrait-md-width: 250px;

// Identity
$typed-cursor-animation-duration: 2s;

// Options
$enable-shadows: true;
