.wrapper {
	position: relative;
	background-color: $wrapper-bg;

	&::before {
		position: absolute;
		top: -$wrapper-triangle-height;
		width: 100%;
		height: $wrapper-triangle-height;
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' preserveAspectRatio='none'><polygon points='0,100 100,0 100,100' style='fill:#{$wrapper-bg}'/></svg>");
		background-size: 100% 100%;
		content: "";
	}
}
