$bg-color: #2e3240;
$bg-color-light: lighten($bg-color, 5%);
$body-bg: $bg-color;
$list-group-bg: $bg-color-light;
$card-bg: $bg-color-light;
$footer-bg: $bg-color-light;
$body-color: #fff;
$blue: #1992c6;
$wrapper-triangle-height: 10vw;
$footer-divider-width: 2px;
