/* Fonts */
@font-face {
	font-family: "Proxima Nova";
	url: ("../fonts/ProximaNova-Regular.otf");
}
@font-face {
	font-family: "Proxima Nova";
	font-style: italic;
	url: ("../fonts/ProximaNova-RegularIt.otf");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 300;
	url: ("../fonts/ProximaNova-Light.otf");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 300;
	font-style: italic;
	url: ("../fonts/ProximaNova-LightIt.otf");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 200;
	url: ("../fonts/ProximaNova-Thin.otf");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 200;
	font-style: italic;
	url: ("../fonts/ProximaNova-ThinIt.otf");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: bold;
	url: ("../fonts/ProximaNova-Bold.otf");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: bold;
	font-style: italic;
	url: ("../fonts/ProximaNova-BoldIt.otf");
}
$font-family-base: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-weight: bold;
$display-md-scale: 0.8363;
$display-sm-scale: 0.673;
$display-xs-scale: 0.51;
/* Background colors */
$bg-color: #2e3240;
$bg-color-light: lighten($bg-color, 5%);
$header-bg: $bg-color-light;
$body-bg: $bg-color;
$list-group-bg: $bg-color-light;
$card-bg: $bg-color-light;
$footer-bg: $bg-color-light;
/* Text colors */
$body-color: #fff;
$blue: #1992c6;
/* Other colors */
$divider-color: rgba(255, 255, 255, 0.125);
/* Metrics */
$wrapper-triangle-height: 10vw;
$portrait-width: 250px;
$portrait-sm-width: 200px;
$divider-width: 2px;
/* Options */
$enable-shadows: true;
