script(src="scripts/jquery.slim.min.js")
script(src="scripts/popper.min.js")
script(src="scripts/bootstrap.min.js")
script(src="scripts/jquery.inview.min.js")
script(src="scripts/typed.min.js")
script(src="scripts/trianglify.min.js")
script(src="scripts/fancify.min.js")
