doctype html
html

	include ../partials/head.pug

	body
		include ../partials/header.pug

		section#banner.d-flex.align-items-center
			.container
				h1.display-2.divider Bennett D. Zhang
				p.lead School of Computer Science at Carnegie Mellon University

		section#wrapper
			.container
				.row
					.col
						.d-flex.h-100.justify-content-center.align-items-center
							img#portrait.rounded-circle(src="img/portrait.jpg" alt="portrait")

					.col-12.col-lg-8
						h1.display-4.text-capitalize #[span#identity]
						p Undergraduate at Carnegie Mellon University studying computer science. Seeking summer internship to consolidate and compile my skills and experience assisting a company's software development needs.
						p Resourceful, effective, and detail-oriented computer scientist possessing strong leadership and communication skills. Innovative programmer who integrates keen organizational prowess with ingenuity to produce polished projects and programs.
						p Motivated by advancements in technologies relating to artificial intelligence and machine learning. Demonstrates proficiency with regards to front and back-end web development using Node.js, HTML5, and ECMAScript 6.
						p Coordinated and prioritized workouts and outreach events as captain for school's cross country and track teams.
						.btn-group
							a(href="pdf/resume.pdf" target="_blank").btn.btn-light
								span.fa.fa-user-circle
								| &nbsp;R&eacute;sum&eacute;
							a(href="https://github.com/bennett-zhang/" target="_blank").btn.btn-dark
								span.fa.fa-github
								| &nbsp;Github
							a(href="https://www.linkedin.com/in/bennett-d-zhang-34323813b" target="_blank").btn.btn-primary
								span.fa.fa-linkedin-square
								| &nbsp;Linkedin

				.row
					.col-12.col-md-6
						h1 Skills
						ul.list-group
							- const skills = ["JavaScript (ECMAScript 6)", "HTML5", "CSS3", "Node.js", "Express", "Git", "Java", "Python", "WebGL", "L<sup>A</sup>T<sub>E</sub>X"]
							each skill in skills
								li.list-group-item !{skill}

					.col
						h1 Honors
						ul.list-group
							- const honors = ["National Merit Finalist", "AP Scholar With Distinction", "Le Grand Concours Two Time Gold Medalist", "Grade 6 Piano With Merit", "Grade 5 Music Theory With Distinction"]
							each honor in honors
								li.list-group-item= honor

				.row
					.col-12.col-lg-6
						.card
							img(src="img/phone-binary.jpg" alt="iPhone and binary").card-img-top
							.card-body
								h4.card-title.divider Bit Stories
								p.card-text Coordinated team and delegated workload for web app, which encourages creativity and iniduality in students through real time story-telling.
								p.card-text Stories accessible through database powered by MongoDB. Unites Bootstrap, Socket.IO, and Angular APIs for a seamless, user-friendly experience.
								a(href="https://bit-stories.herokuapp.com" target="_blank").btn.btn-primary
									span.fa.fa-link
									| &nbsp;View Project

					.col-12.col-lg-6
						.card
							img(src="img/julia.jpg" alt="Julia fractal").card-img-top
							.card-body
								h4.card-title.divider Fractal Explorer
								p.card-text Developed website which uses WebGL to construct lightning-fast and scalable renderings of Mandelbrot and Julia fractals on the complex plane.
								p.card-text Clean, dynamic interface that features intuitive gestures powered by Hammer.js. Optimized for most devices, including mobile and touch screens.
								a(href="https://fractal-explorer.herokuapp.com" target="_blank").btn.btn-primary
									span.fa.fa-link
									| &nbsp;View Project

					.col-12.col-lg-6
						.card
							img(src="img/ultimate-t3.jpg" alt="ultimate tic tac toe").card-img-top
							.card-body
								h4.card-title.divider Ultimate T3
								p.card-text Website runs a highly strategic variant of classic tic-tac-toe called ultimate tic- tac-toe, played on a 9x9 board. Responsive design showcasing Bootstrap.
								p.card-text Artificial intelligence uses minimax algorithm with alpha-beta pruning for efficient tree searching. Multiplayer mode utilizes Node.js, Express, and Socket.IO.
								a(href="https://ultimate-t3.herokuapp.com" target="_blank").btn.btn-primary
									span.fa.fa-link
									| &nbsp;View Project

include ../partials/footer.pug

script(src="./js/fancify.min.js")
